.title{
  font-size:100px;
}

a{
  font-size:20px;
  top:25px;
}
nav i{
  font-size:20px;
  top:-10px;
}
nav i{
  color: transparent;
}

#menu{
  display:block;
}

nav:hover #menu{
  display:block;
}
.title{
  top:-30px;
}