*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url(./imágenes/fondoestrellado.jpg);
  background-size: cover;
  position:relative;
}


.juego{
  margin-top:20px;
  position: relative;
  left: 26.5vw;
  width:46%;
}

.title1{
  font-family: GT Sectra Display,Times,Georgia,serif;
  font-weight: 1000;
  color: white;
  font-size: 20px;
}

.video1{
  width: 120px;
  height: 90px;
  display:block;
  margin:auto;
}
.teoría{
  font-size: 16px;
  font-family:'Times New Roman', Times, serif;
  font-weight: 1000;
  color:white;
  text-align: justify;
  margin-bottom: 20px;
}

header{
  margin-top:30px;
  position:relative;
  padding: 0px 0px 80px;
}

nav i{
  color: white;
  position:absolute;
  right:30px;
  font-size:15px;
}

li{
  list-style-type:none;
  display:inline;
  align-items: center;

}

a{
  color:white;
  text-decoration: none;
  font-size:15px;
  position:relative;
  top:30px;
  left:0px;
  margin-left:40px;
  margin-right:40px;
}
#menu{
  width:100vw;
  height:10vh;
  position:absolute;
  right:0px;
  top:-30px;
  display:block;
  background-color: rgba(27, 26, 26, 0.623);
  z-index: 2;
}

.teoría:hover {
  color:rgb(14, 212, 219); 
}

.title1:hover {
  color:orangered;
}

a:hover {
  background: linear-gradient(to right,orangered,purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}